<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{front/component::base(~{::#head},~{::#title},~{::#body})}">
    <th:block id="head">
        <link rel="stylesheet" th:href="@{/css/front/signbase.css}">
        <script th:src="@{/js/front/register.js}"></script>
    </th:block>
    <title id="title">注册-知了传课</title>
    <div id="body" class="outer-box">
        <div class="logo-box">
            <a href="/">
                <img th:src="@{/images/logo.png}" alt="">
            </a>
        </div>
        <h2 class="page-title">
            知了传课-注册
        </h2>
        <div class="sign-box">
            <div class="form-group">
                <div class="input-group">
                    <input type="email" class="form-control" name="email" placeholder="邮箱">
                    <span class="input-group-btn">
                        <button id="email-captcha-btn" class="btn btn-default">发送验证码</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="email-captcha" placeholder="邮箱验证码">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="用户名">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="密码">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="repeat-password" placeholder="确认密码">
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="graph-captcha" placeholder="图形验证码">
                    <span class="input-group-addon captcha-addon">
                        <img id="captcha-img" class="captcha-img" th:src="@{/captcha}" alt="">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-warning btn-block" id="submit-btn">立即注册</button>
            </div>
        </div>
    </div>
</html>
