<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{front/component::base(~{::#head},~{::#title},~{::#body})}">
<th:block id="head">
    <link rel="stylesheet" th:href="@{/css/front/index.css}">
    <script th:src="@{/js/front/setting.js}"></script>
    <style>
        body {
            background-color: #f3f3f3;
        }

        .setting-group {
            width: 800px;
            background-color: #ffffff;
            margin: 0 auto;
            padding: 50px;
        }

        #avatar-img {
            width: 140px;
            height: 140px;
        }
    </style>
</th:block>

<title id="title">个人设置-知了传课</title>

<div id="body" class="setting-group">
    <h1>[[${user.username}]]设置</h1>
    <div style="height: 20px;"></div>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">邮箱：</label>
            <input type="email" class="form-control" th:value="${user.email}" readonly>
        </div>
        <div class="form-group">
            <label>头像：</label>
            <div class="input-group">
                <img th:src="@{${user.avatar}}" alt="..." class="img-circle" id="avatar-img">
                <input type="file" id="avatar-input" accept="image/jpeg, image/png">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">个性签名：</label>
            <input type="text" class="form-control" id="signagure-input" th:value="${user.signature}">
        </div>
        <button type="submit" id="submit-btn" class="btn btn-primary">保存</button>
    </form>
</div>


</html>